@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">UNIVERSAL COMPUTER </h1>
    @* <p>computer product <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
</div>


<div class="container">

<div class="container">
    @* <div class="col-md-6">
        <h2>Getting started</h2>
        <p>ASP.NET Core is a cross-platform, high-performance, open-source framework for building modern, cloud-based
            web applications.</p>
    </div> *@
    @* <div class="col-md-6">
        <h2>What's new</h2>
        <ul>
            <li><a href="https://docs.microsoft.com/aspnet/core/release-notes">Release notes</a></li>
            <li><a href="https://docs.microsoft.com/aspnet/core/tutorials">Tutorials</a></li>
            <li><a href="https://docs.microsoft.com/aspnet/core/samples">Samples</a></li>
        </ul>
    </div> *@
</div>

<div class="row">
    <div class="col-md-4">
        <img src="https://p4-ofp.static.pub//fes/cms/2024/03/18/4kh7kd640bjmmoxylxe2hrhhxe6rfi478563.png" alt="Computer" class="img-fluid">
    </div>
    <div class="col-md-4">
        <img src="https://p2-ofp.static.pub//fes/cms/2024/06/07/59dq0xmoplh23bw93nwikmcudjercf836653.png" alt="Laptop" class="img-fluid">
    </div>
    <div class="col-md-4">
        <img src="https://www.pngall.com/wp-content/uploads/7/CCTV-Camera-PNG-Image-HD.png" alt="Printer" class="img-fluid">
    </div>
</div>

</div>