@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>ASP.NET Core is a cross-platform, high-performance, open-source framework for building modern, cloud-based, Internet-connected applications.</p>
        <p><a class="btn btn-primary" href="https://go.microsoft.com/fwlink/?LinkId=518008">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>ASP.NET Core Features</h2>
        <ul>
            <li>Modular design</li>
            <li>Test-driven development</li>
            <li>Dependency injection</li>
        </ul>
        <p><a class="btn btn-primary" href="https://go.microsoft.com/fwlink/?LinkId=518008">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Run & Deploy</h2>
        <p>Run your application locally or deploy it to a cloud platform like Azure.</p>
        <p><a class="btn btn-primary" href="https://go.microsoft.com/fwlink/?LinkId=518008">Learn more &raquo;</a></p>
    </div>
</div>